// src/styles/components/Controls.scss
// this file defines the styles for the controls component.
// it styles the buttons and layout of the controls section.
// it uses flexbox to arrange the buttons and provides hover effects for better user interaction.
.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;

  &-btn {
    border: none;
    background: transparent;
    cursor: pointer;

    // color: var(--desc);
    // background: var(--bg-3);
    // padding: 5px;
    // border-radius: 50%;

    &:hover {
      svg {
        fill: var(--success);
      }
    }

    svg {
      width: 22px;
      height: 22px;
    }
  }
}
